.recent-post-wrapper {
    padding: 10px 40px;
    .articles {
        list-style: none;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 0;
        .article {
            padding: 10px 0;
            color: blue;
            min-width: 400px;
            display: flex;
            font-size: 1rem;
            border-bottom: 1px solid #222;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: #222;
                &:hover {
                    color: red;
                }
            }
            .published-date {
                font-size: 1rem;
                color: #222;
            }
        }
    }
}
