.header-wrapper {
    height: $HEADER_HEIGHT;
    border-bottom: 2px solid $BORDER_COLOR;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../public/assets/header-bg.jpg');
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 3;
    span {
        margin-left: 40px;
    }
}